body{
  background-image: url(texture_00007.jpg);
  background-size: cover;
}
h2{
  font-size:50px;
  text-align:center;
  /* width:50%;
  height:100px; */
  margin:0 auto;
  line-height:100px;
  color:red;
  border-bottom:5px double gray ;

}
#view{
  text-align: center;
}
#toi{
  font-weight: bold;
  margin: 30px 0;
  font-size: 20px;
}
#toi2{
  font-weight: bold;
  margin: 30px 0;
  font-size: 20px;
}

button{
  font-size:20px;
  margin: 20px;
  cursor:pointer;
}
p{
  text-align:center;
   font-size:22px;
}
.bar{
  border-bottom:5px double gray ;
}
#start{
  background:gray;
  width: 200px;
  text-align:center;
  border-radius:4px;
  cursor:pointer;
  user-select:none;
  padding: 8px;
  margin: auto;
  box-shadow:0 4px 0 rgb(184, 182, 182);
}
#start:active{
  margin-top:12px;
  box-shadow:none;
}
input{
  
  width: 200px;
  border-radius:4px;
  cursor:pointer;
  user-select:none;
  padding: 8px;
 
}
a{
  font-weight: bold;
  font-size: 26px;
  cursor: pointer;
  text-decoration: none;
 }
