body p{
  font-weight:bold;
}
a{
  font-weight: bold;
  font-size: 26px;
  cursor: pointer;
  text-decoration: none;
 }
.iback{
  background-image:url(texture_00005.jpg);
}
h2{
  font-size:30px ;
  text-shadow: 2px 2px 2px #FFF,-2px -2px 2px #FFF,
               -2px 2px 2px #FFF,2px -2px 2px #FFF;
  }

.titleS{
  font-size:50px;
  text-align:center;
  width:50%;
  height:100px;
  margin:0 auto;
  line-height:100px;
  color:red;
}  
table{
  margin: auto;
  text-align: center;
}
h2{
  text-align: center;
}
.BTP{
  border-top:5px double gray ;
  font-size: 22px;
}
.BBP{
  border-bottom:5px double gray;
  text-align:center
}
