body{
  background-image: url(metal_00007.jpg);
  /* background-size: cover; */
}

.m{
 
  text-align: center;
}
p{
  font-weight:bold;
}

.BTP{
  border-top:5px double black;
  border-bottom:5px double black;
  text-align:center
}
.titleC{
  font-size:50px;
  text-align:center;
  /* width:50%;
  height:100px; */
  margin:0 auto;
  line-height:100px;
  color:red;
  border-bottom:5px double gray ;
  
}
