.title{
  font-size:50px;
  text-align:center;
  /* background:white; */
  width:50%;
  height:100px;
  margin:0 auto;
  line-height:100px;
  color:red;
  /* border:20px solid chocolate; */
 }
 #B9mae{
   text-align:center;
   font-size:22px;
 }
 .filde{
   background:greenyellow;
width:600px;
height:300px;
border-radius:300px 300px 0 0;
margin: auto;
}
.filde2{
 
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 300px solid greenyellow;
  transform: scale(1,-1);
  margin: auto;
}